RewriteEngine On

## Note: If you are installing Hazard system via Apache's "Alias"
##       configuration rather than plain subdirectory, then you need to
##       uncomment the "RewriteBase" line and *change it to your URI alias path*
##       or you'll get a nonsensical HTTP 400 Bad Request error.
##       See: http://httpd.apache.org/docs/current/mod/mod_rewrite.html#rewritebase
##
##       For example, from Apache configuration:
##         Alias /hazard "C:/prog/hazardproject"
##       the RewriteBase line will be
##         RewriteBase /hazard/
##
# RewriteBase /hazard/

RewriteRule ^$ home.php

RewriteRule ^d/$ home2.php
RewriteRule ^d$ d/

RewriteRule ^r/$ requests.php
RewriteRule ^r$ r/

RewriteRule ^profile/$ profile.php
RewriteRule ^profile$ profile/

RewriteRule ^logout/$ logout.php
RewriteRule ^logout$ logout/

RewriteRule ^request/$ request_list.php
RewriteRule ^request$ request/

RewriteRule ^request/([0-9]+)/$ request_info.php?id=$1
RewriteRule ^request/([0-9]+)$ request/$1/

RewriteRule ^request/new/([0-9]+)/$ register_new_$1.php
RewriteRule ^request/new/([0-9]+)$ request/new/$1/

RewriteRule ^user/$ userlist.php
RewriteRule ^user$ user/

RewriteRule ^user/([0-9]+)/$ edituser.php?user=$1
RewriteRule ^user/([0-9]+)$ user/$1/

RewriteRule ^register/$ register.php
RewriteRule ^register$ register/

RewriteRule ^register/summary/$ register_summary.php
RewriteRule ^register/summary$ register/summary/

RewriteRule ^pic/([^\?].*)/$ picture.php?pic=$1
RewriteRule ^pic/([^\?].*)$ pic/$1/
