RewriteEngine On

## Note: If you are installing Hazard system via Apache's "Alias"
##       configuration rather than plain subdirectory, then you need to
##       uncomment the "RewriteBase" line and *change it to your URI alias path*
##       or you'll get a nonsensical HTTP 400 Bad Request error.
##       See: http://httpd.apache.org/docs/current/mod/mod_rewrite.html#rewritebase
##
##       For example, from Apache configuration:
##         Alias /hazard "C:/prog/hazardproject"
##       the RewriteBase line will be
##         RewriteBase /hazard/
##
# RewriteBase /hazard/

RewriteRule ^$ home.php

RewriteRule ^login/$ login.php
RewriteRule ^login$ login/

RewriteRule ^logout/$ logout.php
RewriteRule ^logout$ logout/

RewriteRule ^user/$ user.php
RewriteRule ^user$ user/

RewriteRule ^user/edit$ user.php?edit=1
RewriteRule ^user/edit/$ user/edit

RewriteRule ^user/add/$ register.php
RewriteRule ^user/add$ user/add/

RewriteRule ^user/add/summary/$ register_summary.php
RewriteRule ^user/add/summary$ user/add/summary/

RewriteRule ^pic/([^\?].*)/$ picture.php?pic=$1
RewriteRule ^pic/([^\?].*)$ pic/$1/

RewriteRule ^requests/$ requests.php
RewriteRule ^requests$ requests/

RewriteRule ^requests/new/$ new_request.php
RewriteRule ^requests/new$ requests/new/

RewriteRule ^requests/new/([0-9]+)/$ new_request.php?type=$1
RewriteRule ^requests/new/([0-9]+)$ requests/new/$1/

RewriteRule ^requests/([0-9]+)/$ show_request.php?id=$1
RewriteRule ^requests/([0-9]+)$ requests/$1/

RewriteRule ^requests/([0-9]+)/edit/$ requests.php?requestid=$1&edit=1
RewriteRule ^requests/([0-9]+)/edit$ requests/$1/edit/

RewriteRule ^doc/([0-9]+)/([0-9]+)/([0-9]+)/$ doc.php?requestid=$1&doctype=$2&docid=$3
RewriteRule ^doc/([0-9]+)/([0-9]+)/([0-9]+)$ doc/$1/$2/$3/

RewriteRule ^doc/([0-9]+)/([0-9]+)/new/$ doc.php?requestid=$1&doctype=$2&new=1
RewriteRule ^doc/([0-9]+)/([0-9]+)/new$ doc/$1/$2/new/
