body{
	padding: 0;
	margin: 50px 0 0 0;
	height: 100%;
	background-color: #F3E2A9;
}
.error-box{
	position: absolute;
	top: 120px;
	left: 535px;
	width: 300px;
}
.home-container{
	background: -webkit-radial-gradient(circle,#EBC697,#DB8E19);
	height: 92%;
	position: absolute;
	width: 100%;
}
.head-box{
	margin-top: 1px;
}
.data-box{
	background-color: #FAFAFA;
	padding: 40px 30px;
	border-radius: 5px;
	margin: 30px auto 50px;
}
.shadow-box{
	box-shadow: 3px 10px 5px #888888;
}
.navbar{ 
    height: 50px;  
}
.navbar-brand {
	padding: 5px;
}
.navbar-header{
	padding-left: 160px;
}
.vg-container {
	padding: 30px 40px;
	width: 1000px;
	height: 1700px;
	margin: 20px auto;
	background-color: #C0C0C0;
	border-radius: 5px;
}
.box{
	border: 1px solid #cccccc;
	border-radius: 3px;
}
.front-card{
	position: absolute;
	width: 838px;
	margin: -154px 0 0 -418px;
	left: 50%;
	top: 50%;
}
.front-welcome{
	background: white;
	padding: 20px 20px;
	height: 329px;
	width: 525px;
}
.front-welcome, .front-signin, .front-signup {
	border: 1px solid #BE770B;
	border-radius: 4px;
}
.hazard-img{
	width: 422px;
	height: 154px;
	position: absolute;
	top: 160px;
	left: 53px;
}
.welcome-msg{
	display: block;
	width: 390px;
}
.front-signin{
	background: white;
	height: 108px;
	left: 536px;
	position: absolute;
	top: 0;
	width: 300px;
}
.username{
	width: 280px;
	margin: 10px;
}
.password{
	width: 180px;
	margin: 0px 10px;
}
.user-container{
	margin: 60px auto;
}
.block-option-text{
	background-color: rgba(0, 0, 0, 0.04);
	width: 192px;
	border-radius: 3px;
	height: 120px;
	padding: 20px;
	top: 140px;
	left: 15px;
	position: absolute;
	text-align: center;
}
.block-link{
	text-decoration:none;
	color: #2E2E2E;
}
.block-option-image{

	margin-left: 5px;
	margin-top: 0px;
}
.block-option{
	width: 192px;
	height: 252px;
	color: #eff0f2;
	margin: 9px 27px 9px 0px;
	padding: 26px;
	background-color: #E6E6E6;
	border: 1px solid #d8d8d8;
	border-radius: 3px;
}
.block-option:hover{
	width: 192px;
	height: 252px;
	color: #FAFAFA;
	margin: 9px 27px 9px 0px;
	padding: 26px;
	background-color: #CACACA;
	border: 1px solid #;
	border-radius: 3px;
}
.button-regis{
	margin-right: 16px;
}
.top-sec{
	height: 450px;
	background-color: #f5c570;
	margin-bottom: 40px;
	border-bottom: 40px solid #DBA85C;
}
.doc-sec{
	border-bottom: 40px solid #EBC997;
}
.bottom-sec{
	background-color: #FADDA6;
}
.request-flow{
	top: 130px;
	height: 400px;
	width: 1049px;
	position: absolute;
}
.dot1{
	position: absolute;
	border-radius: 3px;
	height: 50px;
	width: 50px;
	top: 56px;
	left: 67px;
}
.dot1:hover{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.21);
	border-radius: 3px;
	height: 50px;
	width: 50px;
	top: 56px;
	left: 67px;
}
.arrow_box {
	position: absolute;
	background: #E0D8C4;
	padding: 8px;
	left: 130px;
	top: 55px;
}
.arrow_box:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0px;
	width: 0px;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #E0D8C4;
	border-width: 10px;
	margin-top: -10px;
}
.flow-msg-head{
	text-align: center;
	padding: 5px 0px 0px;
	left: 26px;
	top: -80px;
	background-color: rgb(146, 221, 143);
	border-radius: inherit;
	position: absolute;
	width: 260px;
	height: 50px;
}
.flow-msg2{
	padding: 0px 10px;
	left: 130px;
	top: 60px;
	background-color: white;
	border-radius: 4px;
	position: absolute;
	width: 180px;
	height: 40px;
}
.register-page{
	margin: 100px auto;
	background-color: #fafafa;
	border-radius: 4px;
	padding: 20px;
	position: absolute;
	width: 970px;
}
.approve-icon{
	position: absolute;
	background-image: url("../image/approve.png");
	top: -30px;
	left: 900px;
	width: 117px;
	height: 104px;
}
.banking-icon{
	background-image: url("../image/Payment-128.png");
	width: 128px;
	height:128px;
	top: -50px;
	left: 240px;
	position: absolute;
}
.lab-icon{
	background-image: url("../image/Hospital-Lab-128.png");
	width: 128px;
	height:128px;
	top: -50px;
	left: 295px;
	position: absolute;
}
.approve-gruop{
	margin-right: 100px;
}
.doc-type-lable{
	position: absolute;
	border: 2px solid #cacaca;
	border-radius: 3px;
	background-color: #ecf0f1;
	width: 190px;
	height: 70px;
	left: 155px;
	top: -56px;
	padding: inherit;
}