.head-box{
	margin-top: 1px;
}
.data-box{
	background-color: #FAFAFA;
	padding: 1px 30px 30px;
	border-radius: 5px;
	margin: 30px auto;
}
.orange-container{
	background-color: #F3E2A9;
}
.navbar{ 
    height: 50px;  
}
.navbar-brand {
	padding: 10px;
}
.navbar-header{
	padding-left: 160px;
}
.vg-container {
	padding: 30px 40px;
	width: 1000px;
	height: 1700px;
	margin: 20px auto;
	background-color: #C0C0C0;
	border-radius: 5px;
}
.box{
	border: 1px solid #cccccc;
	border-radius: 3px;
}
.home-container{
	background: -webkit-radial-gradient(circle,#EBC697,#DB8E19);
	height: 600px;
}
.front-card{
	position: absolute;
	width: 838px;
	margin: -154px 0 0 -418px;
	left: 50%;
	top: 50%;
}
.front-welcome{
	background: white;
	padding: 20px 20px;
	height: 329px;
	width: 525px;
}
.front-welcome, .front-signin, .front-signup {
	border: 1px solid #BE770B;
	border-radius: 4px;
}
.hazard-img{
	width: 422px;
	height: 154px;
	position: absolute;
	top: 160px;
	left: 53px;
}
.welcome-msg{
	display: block;
	width: 390px;
}
.front-signin{
	background: white;
	height: 108px;
	left: 536px;
	position: absolute;
	top: 0;
	width: 300px;
}
.username {
	width: 280px;
	margin: 10px;
}
.password{
	width: 180px;
	margin: 0px 10px;
}
.user-container{
	margin: 60px auto;
}
.block-link{
	text-decoration:none;
	color: #2E2E2E;
}
.block-option-image{
	margin-left:26px;
	margin-top: 20px;
}
.block-option{
	width: 213px;
	height: 280px;
	color: #eff0f2;
	margin: 10px 30px 10px 0px;
	padding: 10px;
	background-color: #BDBDBD;
	border: 1px solid #d8d8d8;
	border-radius: 5px;
}
.block-option:hover{
	width: 213px;
	height: 280px;
	color: #FAFAFA;
	margin: 10px 30px 10px 0px;
	padding: 10px;
	background-color: #FAAC58;
	border: 1px solid #;
	border-radius: 5px;
}
.button-regis{
	margin-right: 16px;
}